<h2>{{action}} Todo 1</h2>
<form name="form" class="form-horizontal">
    <div class="form-group" ng-class="{'has-error': form.Text.$invalid}">
        <label for="Text" class="col-lg-2 control-label">Todo</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="item.Text" id="Text" name="Text" placeholder="">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': form.DueDate.$invalid}">
        <label for="DueDate" class="col-lg-2 control-label">Due</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="item.DueDate" id="DueDate" name="DueDate" placeholder="">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': form.Priority.$invalid}">
        <label for="Priority" class="col-lg-2 control-label">Priority</label>
        <div class="col-lg-10">
            <input type="number" class="form-control" ng-model="item.Priority" id="Priority" name="Priority" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-click="save()" class="btn btn-primary">{{action}}</button>
            <a href="#/" class="btn">Cancel</a>
        </div>
    </div>
</form>