<form class="navbar-form  navbar-left" role="search">
    <div class="input-group">
        <input type="text" ng-model="query" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
        <div class="input-group-btn">
            <button ng-click="reset()" type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search"></span>
            </button>&nbsp;<button ng-click="query=''; reset()" ng-disabled="!query" type="submit" class="btn">Reset</button>
        </div>
    </div>
</form>

<br/>
<table class="table table-striped table-condensed table-hover">
    <thead>
    <th>
        <a ng-click="sort('Text')">Todo</a>
        <span ng-show="sort_order=='Text' && is_desc==true" class="glyphicon glyphicon-arrow-down"></span>
        <span ng-show="sort_order=='Text' && is_desc==false" class="glyphicon glyphicon-arrow-up"></span>
    </th>
    <th>
        <a ng-click="sort('Priority')">Priority</a>
        <span ng-show="sort_order=='Priority' && is_desc==true" class="glyphicon glyphicon-arrow-down"></span>
        <span ng-show="sort_order=='Priority' && is_desc==false" class="glyphicon glyphicon-arrow-up"></span>
    </th>
    <th>
        <a ng-click="sort('DueDate')">Due</a>
        <span ng-show="sort_order=='DueDate' && is_desc==true" class="glyphicon glyphicon-arrow-down"></span>
        <span ng-show="sort_order=='DueDate' && is_desc==false" class="glyphicon glyphicon-arrow-up"></span>
    </th>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.Text}}</td>
            <td>{{item.Priority}}</td>
            <td>{{item.DueDate | date:mediumDate}}</td>
        </tr>
    </tbody>
</table>
<a ng-show="has_more()" ng-click="show_more()">Show More...</a>
